body {
	font-size:12px;
	font-family:"ו", Arial, Verdana;
	background:#e7e7e7;
}
body, p, ul, li, h1, h2, h3, h4, h5, h6, img, dd, dt, dl, ol, form {
	padding:0px;
	margin:0px;
}
ul, ol {
	list-style-type:none;
}
img {
	border:none;
}
em {
	font-style:normal;
}
a:link, a:visited {
	text-decoration:none;
	color:#000;
}
a:hover, a:active {
	color:#000;
	text-decoration:underline;
}
.fl {
	float:left;
}
.fr {
	float:right
}
.hr10 {
	height:10px;
	width:100%;
	clear:both;
}
.hr20 {
	height:20px;
	width:100%;
	clear:both;
}
table {
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	BORDER-LEFT: 0px;
	BORDER-BOTTOM: 0px;
	BORDER-COLLAPSE: collapse;
}
#container {
	margin:0px auto;
	padding:0px;
	width:1002px;
	background:#fff;
}
#header {
	height:98px;
	background:url(images/index_01.jpg) no-repeat;
}
#top {
	height:25px;
}
#top h4 {
	font-weight:normal;
	float:right;
	height:25px;
	line-height:25px;
	text-align:right;
	color:#FFF;
	font-size:12px;
}
#top a{
	color:#FFF;
}
#time {
	height:25px;
	line-height:25px;
	width:155px;
	float:right;
	color:#FFF;
	margin:0 20px 0 0;
	text-align:right;
}
#nav {
	width:670px;
	height:35px;
	padding:37px 28px 0 0;
	float:right;
}
#nav ul {
	display:inline;
}
#nav li {
	display:block;
	float:left;
	background:url(images/index_03.jpg) no-repeat left top;
}
#nav li a {
	float:left;
	display:block;
	height:35px;
	line-height:35px;
	color:#FFF;
	font-size:14px;
	padding:0 12px 0 12px;
	margin:0 1px;
	text-decoration:none;
}
#nav li a:hover {
	color:#FF0;
}
#nav li #line {
	background:url(images/index_03.jpg) no-repeat right top;
}
#nav a {
	background:url(images/navbg_02.jpg) no-repeat 0 35px;
}
#banner {
	clear:both;
	height:192px;
	background:url(images/index_02.jpg) no-repeat;
}
#content {
	margin:8px 8px 0 8px;
	background:url(images/contbg_05.jpg) repeat-y;
	float:left;
}
#webmaster {
	background:url(images/index_05.jpg) no-repeat;
	height:205px;
	width:190px;
	padding:60px 10px 0 10px;
	line-height:1.8em;
	margin:0 0 20px 0;
	color:#FFF;
}
.siderbox {
	height:250px;
	padding:20px 10px 15px 10px;
}
.siderbox h4 {
	padding:0 0 15px 0;
	font-size:12px;
	text-align:right;
	font-weight:normal;
}
.siderbox li {
	display:block;
}
.siderbox li a {
	display:block;
	line-height:24px;
	height:24px;
	border-bottom:#CCC dotted 1px;
	padding:0 0 0 10px;
	background:url(images/index_18.jpg) no-repeat left center;
	color:#FFF
}
.con {
	background:url(images/index_16.jpg) no-repeat;
	margin:15px 0 0 0;
}
.classic {
	background:url(images/index_22.jpg) no-repeat;
}
.bus {
	background:url(images/index_24.jpg) no-repeat;
}
#left {
	width:210px;
	float:left;
	padding:0 20px;
}
#right {
	width:692px;
	float:right;
	padding:12px 23px 0 20px;
}
#right_photo {
	width:715px;
	float:right;
	padding:12px 0px 0 20px;
}
#info {
	background:url(images/index_08.jpg) no-repeat;
	width:672px;
	height:202px;
	padding:50px 10px 15px 10px;
	line-height:1.5em;
	font-size:16px;
	
}
#info img {
	padding:2px;
	border:#CCC solid 1px;
	float:left;
	margin:0 10px 0 0;
	overflow:hidden;
}
.newbox {
	height:196px;
	width:336px;
}
.newbox h4 {
	text-align:right;
	font-weight:normal;
	font-size:12px;
	height:29px;
	line-height:29px;
}
.newbox li {
	display:block;
}
.newbox li a {
	display:block;
	line-height:24px;
	height:24px;
	border-bottom:#CCC dotted 1px;
	padding:0 0 0 10px;
	background:url(images/index_18.jpg) no-repeat left center;
}
.sub01 {
	background:url(images/index_17.jpg) no-repeat;
}
.sub02 {
	background:url(images/index_19.jpg) no-repeat;
}
.sub03 {
	background:url(images/index_22a.jpg) no-repeat;
}
.sub04 {
	background:url(images/index_23.jpg) no-repeat;
}
.sub05 {
	background:url(images/index_32.jpg) no-repeat;
}
.sub06 {
	background:url(images/index_33.jpg) no-repeat;
}
.sub07 {
	background:url(images/index_38.jpg) no-repeat;
}
.sub08 {
	background:url(images/index_39.jpg) no-repeat;
}
.sub09 {
	background:url(images/index_42.jpg) no-repeat;
}
.sub10 {
	background:url(images/index_43.jpg) no-repeat;
}
#link {
	background:url(images/index_12.jpg) no-repeat;
	width:190px;
	height:205px;
	padding:45px 10px 0 10px;
	margin:0 0 10px 0;
	
}
#link select{
	width:188px;
	height:24px;
	margin:0 0 5px 0;
}
	
#footer {
	clear:both;
	height:40px;
	line-height:40px;
	text-align:center;
	background:#2773d3;
	color:#FFF;
}

#sidemenu{
	width:210px;
	margin:0 0 15px 0;
}

#menu_top{
	background:url(images/list_08.jpg) no-repeat top;
	padding:10px 10px  10px;
	min-height:60px;
}
#menu_top ul{
	min-height:90px;
}
#menu_top li{
	display:block;
	height:25px;
	line-height:25px;
	border-bottom:#CCC dotted 1px;
	padding:0 0 0 10px;
	background:url(images/index_18.jpg) no-repeat left center;

}
#menu_top li a{
	color:#FFF;
}

#menu_bottom{
	background:url(images/list_08.jpg) no-repeat bottom;
	height:10px;
}

#right_title{
	background:url(images/list_06.jpg) no-repeat;
	height:24px;
	padding:15px 0 15px 40px;
}
#list li{
	display:block;
	height:30px;
	line-height:30px;
	border-bottom:#CCC dotted 1px;
	padding:0 0 0 10px;
	background:url(images/index_18.jpg) no-repeat left center;
}
#race {
	padding:15px 0 10px 0;
	text-align:center;
	clear:both;
}
#page_top{
	border-bottom:#CCC solid 1px;
	border-top:#CCC solid 1px;
	background:#d6d6d6;
	padding:5px 0;
	text-align:center;
}
#page_view{
	min-height:400px;
	padding:10px 0 0 0;
	line-height:1.5em;
	font-size:14px;
}
#page_title{
	font-size:18px;
	font-weight:bold;
	text-align:center;
	padding:10px 0;
}
#turn{
	padding:10px 10px;
	text-align:center;
	clear:both;
}
#right_cont{
	line-height:2em;
	padding:10px;
	font-size:14px;
}
#phot_list li{
	display:block;
	width:223px;
	float:left;
	overflow:hidden;
	margin:0 5px 10px 3px;
}
#phot_list li img {
	padding:2px;
	border:#CCC solid 1px;
}
#phot_list li h4{
	font-size:14px;
	font-weight:normal;
	text-align:center;
	padding:5px 0 10px 0 ;
}
#photo_view{
	text-align:center;
	padding:10px 0 0 0 ;
}

#ad {
	position:absolute;
	right:0px;
	top:0;
	font-size:12px;
	line-height:1.5em;
	z-index:999;
	background:url(images/qq03.png) no-repeat;
		

}
#close {
	width:20px;
	height:175px;
	
	cursor:pointer;
	float:left;

}
#adwidth {
	float:left;
	width:70px;
	height:175px;
	padding:5px 10px 0 5px;
	overflow:hidden;
	color:#FFF;
	text-align:center;

}
#adwidth p{
	padding:10px 0;
}
#adwidth a{
	color:#FFF;
}
